.folder-structure {
  padding: 10px;
}

.folder {
  margin: 5px;
  border-radius: 5px;
}

.folder-header {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}


.folder-children {
  margin-left: 20px;
}

.folderIcon {
  margin-right: 10px;
}

.addDeleteIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  gap: 10px;
}